/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/*General*/
body {
	width: 876px;
	margin: 0 auto;
}

p {
font-family: roboto;
}

a {
	font-family: roboto;
	text-decoration:none;
	color:grey;
}

a:hover {
	text-decoration:none;
	color:rosybrown;
}

h1 {
	font-size:4.2em;
}

/*Nav*/
header {
	position:sticky;
	top:0;
	background-color: #c0caeb;
	padding:0 1vw;
	/*Flex Container*/
	display: flex;
	justify-content: space-between;
}

header nav {
	/*Flex Container*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*Flex Element*/
	flex-grow: 0.5;
}

header img {
	/*Flex Element*/
	flex-grow: 1;
}

/*Row 1*/


/*Row 1 - Button Style*/
.row-1 .column a {
	border: 1px black solid;
	padding:10px;
}

.row-2 {
	border-top: 2px black solid;
}

.row-5 {
	width:200px;
}

footer {
	text-align:center;
	margin: 20px 0;
}